<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="300px" fxFlex.xs="100%" >
     
      <h2 mat-dialog-title>Add Medication Data</h2>
      <div mat-dialog-content>
      <form [formGroup]="medicationForm">
  
          
      <mat-form-field appearance="standard">
          <mat-label>Drug Code</mat-label>
          <input matInput formControlName="drugCode" >
        </mat-form-field>&nbsp;&nbsp;
        
      
        
        <mat-form-field appearance="standard">
          <mat-label>Drug Name</mat-label>
          <input matInput formControlName="drugName" >
        </mat-form-field>
        
      <br>

          <mat-form-field appearance="standard">
            <mat-label>Drug Form</mat-label>
            <input matInput formControlName="drugForm">
          </mat-form-field>
         &nbsp;
          <mat-form-field appearance="standard">
            <mat-label>Drug Strength</mat-label>
            <input matInput formControlName="drugStrength" >
          </mat-form-field>
        <br/>
      
      </form>
    </div>
</mat-card>
</section>
  
        <div mat-dialog-actions [align]="'center'">
      
      <button class="mat-raised-button" mat-dialog-close>Close</button>&nbsp;&nbsp;&nbsp;
      <button class="mat-raised-button mat-primary" (click)="addMedication()">{{actionBtn}}</button>
  </div>
  
