<!-- services -->
<section id="header" class="header mb-3 py-3">

    <div class="container">
        <div class="section-title">
            <h2 class="text-centre" style="text-decoration: underline;">OUR SERVICES</h2>
            <p style="font-size: large; font-weight: bold;">Our hospital is built, staffed, and equipped for the diagnosis of disease; for the treatment, both medical and surgical, of the sick and the injured; and for their housing during this process.</p>
        </div>

        <div class="row">

            <div class="col-md-4 col-9 mx-auto d-flex align-items-stretch mt-4 mt-md-1 " style="height: 350px;">
                <div class="service shadow">
                    <div class="icon">
                        <i class="fas fa-tooth"></i>
                    </div>
                    <h4>Dental Care</h4>
                    <p>Dental care or dentalcare is the maintenance of healthy teeth and may refer to: Oral hygiene, the practice of keeping the mouth and teeth clean in order to prevent dental disorders. Dentistry, the professional care of teeth, including
                        professional oral hygiene and dental surgery.</p>
                </div>
            </div>

            <div class="col-9 mx-auto col-md-4 d-flex align-items-stretch mt-4 mt-md-1" style="height: 350px;">
                <div class="service shadow">
                    <div class="icon">
                        <i class="fas fa-eye"></i>
                    </div>
                    <h4>Eye Care</h4>
                    <p>Vision services, including eye exams. Medical eye care -- for conditions like glaucoma, iritis, and chemical burns. Surgical eye care -- for trauma, crossed eyes, cataracts, glaucoma, and other problems. Diagnosis and treatment of
                        eye conditions related to other diseases, like diabetes or arthritis</p>
                </div>
            </div>

            <div class="col-9 mx-auto col-md-4 d-flex align-items-stretch mt-4 mt-md-1" style="height: 350px;">
                <div class="service shadow">
                    <div class="icon">
                        <i class="fas fa-heart"></i>
                    </div>
                    <h4>Cardiology</h4>
                    <p>The body's cardiovascular, or circulatory system, is made of the heart, blood, and blood vessels (arteries and veins). Heart and vascular services refers to the branch of medicine that focuses on the cardiovascular system</p>
                </div>
            </div>

            <div class="col-9 mx-auto col-md-4 d-flex align-items-stretch mt-4 mt-md-1" style="height: 350px;">
                <div class="service shadow">
                    <div class="icon">
                        <i class="fas fa-brain"></i>
                    </div>
                    <h4>Neurology</h4>
                    <p>Our medical specialty concerned with the diagnosis and treatment of patients with injury to, or diseases/disorders of the brain, spinal cord and spinal column, and peripheral nerves within all parts of the body. The specialty of neurosurgical
                        care includes both adult and pediatric patients</p>
                </div>
            </div>

            <div class="col-9 mx-auto col-md-4 d-flex align-items-stretch mt-4 mt-md-1" style="height: 350px;">
                <div class="service shadow">
                    <div class="icon">
                        <i class="fas fa-allergies"></i>
                    </div>
                    <h4>Dermatologists</h4>
                    <p>Dermatologists diagnose and treat skin conditions. They also recognize symptoms that appear on your skin which may indicate problems inside your body, like organ disease or failure. Dermatologists often perform specialized diagnostic
                        procedures related to skin conditions</p>
                </div>
            </div>

            <div class="col-9 mx-auto col-md-4 d-flex align-items-stretch mt-4 mt-md-1" style="height: 350px;">
                <div class="service shadow">
                    <div class="icon">
                        <i class="fas fa-bone"></i>
                    </div>
                    <h4>Orthopedists</h4>
                    <p>Orthopedists doctors that specialize in the musculoskeletal system, which includes the bones and muscles, as well as other tissues like joint ligaments and tendons. In addition, an orthopedist may cover issues with your nerves and
                        skin
                    </p>
                    <a [routerLink]="['/user/login']">know more</a>
                </div>
            </div>

        </div>
    </div>

</section>

<div class="row" style="padding-left: 100px;">

    <div class="row">

        <div class="col-md-3">
            <mat-card class="example-card1">
                <mat-card-content>
                    <p> </p>
                    <img class="background-img" src="../../../assets/aboutdoc.jpg" alt="Third slide">
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-sm-8">
            <mat-card class="example-card1">
                <mat-card-title-group>
                    <mat-card-title>
                        Our Mission
                    </mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-title-group>
                <mat-card-content>
                    <p>To provide patient-centered healthcare with excellence in quality, service, and access.
                    </p>
                    <p>A community in which all people achieve their full potential for health and well-being across the lifespan. We work to be trusted by patients, a valued partner in the community, and creators of positive change. </p>

                    <p>We take pride in our work :</p>
                    <p>● We have a commitment to serving the community and providing open access to Grace Health for all community members.</p>
                    <p>● Involvement by our staff in the community enhances our ability to provide effective health care. Improving the community will improve the health of our customers.</p>
                    <p>● Partnerships with education, government, and other community organizations will multiply the resources for and the effectiveness of our work.</p>
                    <p>● By instilling confidence in our patients, they will become positive forces in the community and contribute to the health of others.</p>
                    <p>● We create a dynamic, forward-moving, innovative organization.</p>
                    <p>● We seek direction from patients through their guidance as members of our Board; we seek direction from other contacts using multiple methods.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>






<!-- contact -->

<section id="header" class="contact">

    <div class="container">

        <div class="row" style="padding-top: 50px;">

            <div class="col-lg-8 mx-auto">
                <h3 style="font-size: large; font-weight: bold; padding-left: 300px;text-decoration: underline;">Contact Us</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="contact-box">
                            <i class="fas fa-building"></i>
                            <h3>Address</h3>
                            <p>Department of Development CT General Hospital 200 First St. SW Rochester,</p>
                            <p> MN-55905</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-box mt-4">
                            <i class="fas fa-envelope"></i>
                            <h3>Email</h3>
                            <p>cthospital@info.com
                                <br>cthospital@manager.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-box mt-4">
                            <i class="fas fa-phone"></i>
                            <h3>Call us</h3>
                            <p>+91 06325452547 <br> +91 3253625457</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- footer -->
<footer class="footer py-4 mt-5">
    <div class="container">
        <div class="row align-items-centre">
            <div class="col-lg-4 text-lg-left">
                All rights Reserved To &copy;CT General Hospital 2022
            </div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-back btn-social mx-2" [routerLink]="">
                    <i class="fab fa-facebook"></i>
                </a>
                <a class="btn btn-back btn-social mx-2" [routerLink]="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a class="btn btn-back btn-social mx-2" [routerLink]="">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a class="btn btn-back btn-social mx-2" [routerLink]="">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            <div class="col-lg-4 text-lg-right">
                <a class="mr-3 text" [routerLink]="">Privacy Policy</a>
                <a class="text" [routerLink]="">Terms of Use</a>
            </div>
        </div>
    </div>
</footer>