<h3>{{pageTitle}}</h3>

<div *ngIf="idPresent">
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms" class="col-11">
        <mat-tab label="VITAL DETAILS">
            <app-vitalsigns [appointment]="fetchAppointment"></app-vitalsigns>
        </mat-tab>
        <mat-tab label="DIAGNOSIS">
            <app-diagnosis [appointment]="fetchAppointment"></app-diagnosis>
        </mat-tab>
        <mat-tab label="PROCEDURES">
            <app-procedure [appointment]="fetchAppointment"></app-procedure>
        </mat-tab>
        <mat-tab label="MEDICATION">
            <app-medication [appointment]="fetchAppointment"></app-medication>
        </mat-tab>
        <mat-tab label="PHYSICIAN NOTES">
            <div style="border: 1px solid black; width: auto;" class="text-center">
                <h3>Additional Notes</h3>
                <mat-form-field *ngIf="isNotesAvailable;else noNotes" class="col-8">
                    <textarea [formControl]="physicianNotes" matInput rows="10">
                    </textarea>
                </mat-form-field>
                <ng-template #noNotes>
                    <span style="color: red;font-size: 16px;font-family: Georgia, 'Times New Roman', Times, serif;"> No
                        Physician Notes</span>
                </ng-template>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>