<div class="homePageDiv row">
  <section class="col-sm-8 pt-5 mt-5">
    <p class=" pb-1 ml-sm-5 title responsive-font">Personal Care of your</p>
    <p class=" pb-1 ml-sm-5 title responsive-font">healthy living</p>
    <p class=" ml-sm-5 responsive-quote quote">
     CT General Hospital is one of the best providers in the state.To get
    </p>
    <p class=" ml-sm-5 responsive-quote quote">
     an appointment register yourself or contact us.
     </p>
  </section>
  <section class=" row justify-content-rignt ml-sm-3 mt-5">
    <div class="col-sm-5 col-md-4 col-lg-3 mx-3 my-3 tabs">
      <p><strong><u>EMERGENCY CONTACT</u></strong></p>
      <p>023-234-342</p>
      <p><strong><u>HELPLINE NUMBER</u></strong></p>
      <p>1800-232-121</p>
    </div>
    <div class="col-sm-5 col-md-4 col-lg-3 mx-3 my-3 tabs">
      <p ><strong><u>Consulting Hours</u></strong></p>
      <p>8:00 AM - 1:00 PM </p>
      <p>2:00 PM - 6:00 PM </p>
    </div>
  </section>
 
</div>