mat-form-field{
    display: block;
    width:15rem ;
    margin: auto;
    margin-top: 23px;
    margin-bottom: 23px;
}

h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-align: center;
}

button{
    margin: 10px;
}

.mainDiv{
    border: 1px solid black;
    border-radius: 7px; 
    background-color: white;
}

.error{
    font-family: 'Times New Roman';
    color:coral;
    text-align: center;
    font-size: 17px;
    font-style: italic; 
}